@import "../../styles/mixin.module.scss";

.plan {
  padding: 11.5px 31px;
  border: 1.1px solid;
  border-color: #d3d3d3;
  border-radius: 11px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  min-width: 176px;

  &__title {
    @include subtitle;
    text-align: center;
    margin-bottom: 30px;
  }

  &--active {
    border-color: $red;
  }

  &:last-child {
    margin-right: 0;
  }

  & > img {
    margin-bottom: 22px;
    max-height: 91px;
  }

  &__features {
    list-style: none;

    & > li {
      display: flex;
      font-size: 8.7px;
      margin-bottom: 21.9px;
      align-items: center;

      &>svg{
        max-width: 13px;
        margin-right: 7.5px;
      }

      &:last-child {
        margin-bottom: 17px;
      }
    }
  }

  &__price {
    font-size: 15px;
    font-weight: 500;
    justify-self: flex-end;
    margin-top: auto;
    text-align: center;

    & > b > span,
    & > span {
      color: $very-gray;
    }

    & > span {
      font-size: 11px;
      font-weight: 400;
    }
  }
  &__button {
    margin-top: 12px;
  }

  @media (min-width: 768px) {
    padding: 21px 56.5px;
    border-radius: 20px;
    margin-right: 29px;
    border-width: 2px;

    & > img {
      margin-bottom: 22px;
      max-height: unset;
    }

    &__title {
      margin-bottom: 55px;
    }

    &__features {

      & > li {
        font-size: 16px;
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 31px;
        }
      }
    }

    &__price {
      font-size: 28px;

      & > span {
        font-size: 20px;
      }
    }

    &__button {
      margin-top: 22px;
    }
  }
}
