@import "../../styles/variables.module.scss";

.swiper-pagination-bullets {
  min-height: 20px;
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: #d8d8d8;
  opacity: 0.7;
  width: 8.7px;
  height: 8.7px;
  border-radius: 50%;
  transition: width 0.3s ease;
  margin: 40px 4px;
  color: transparent;
  font-size: 0.1px;
}
.swiper-pagination-bullet-active {
  background-color: $red;
  width: 36px;
  border-radius: 12px;
  opacity: 1;
}

@media (min-width: 768px) {
  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }
  .swiper-pagination-bullet-active {
    width: 58px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  left: unset;
  right: unset;
  background-color: $red;
  border-radius: 100%;
  width: 30px;
  height: 30px;

  &::after {
    font-size: 11px;
    font-weight: 900;
    color: #ffffff;
  }
  @media (min-width: 768px) {
    width: 40px;
    height: 40px;

    &::after {
      font-size: 17px;
    }
  }
}
.swiper-button-prev {
  margin-right: 28px;
  @media (min-width: 768px) {
    margin-right: 42px;
  }
}
.swiper-button-disabled {
  opacity: 1;
  background-color: #d1d1d1;
}
