@import "../../../styles/mixin.module.scss";

.feature {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__details {
    margin-left: 13px;
    & > h5 {
      @include title;
    }
    & > p {
      font-size: 8.5px;
      margin-top: 2px;
    }
  }
  @media (min-width: 768px) {
    &__details {
      margin-left: 23px;
      & > p {
        font-size: 15px;
        margin-top: 4px;
      }
    }
  }
  @media (max-width: 767px) {
    & > svg {
      width: 21px;
      height: 21px;
    }
  }
}
