@import '../styles/mixin.module.scss';

.banner {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 10px;
  &__description {
    text-align: center;

    & > h1 {
      font-weight: 400;
      font-size: 32.14px;
      margin-bottom: 17px;
      & > b {
        font-weight: 600;
      }
    }
    & > p {
      font-size: 10.29px;
      margin-bottom: 33px;
    }
  }
  & > img {
    width: 85%;
    display: block;
    margin: 0 auto 34px;
  }
  @media (min-width: 768px) {
    @include container;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    &__description {
      width: 50%;
      text-align: left;
      & > h1 {
        font-size: 50px;
        margin-bottom: 42px;
      }
      & > p {
        @include regularText;
        margin-bottom: 58px;
      }
    }
    & > img {
      width: 50%;
      margin: 0;
    }
  }
}
