@import "../../styles/mixin.module.scss";

.container {
  @include container;
  padding: 0 50px;
  @media (min-width: 768px) {
    padding: 0 20px;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__details {
    & > h5 {
      font-weight: 500;
    }

    &__list {
      & > li {
        font-weight: 500;
        display: flex;
        align-items: center;
      }
    }
  }

  @media (max-width: 767px) {
    & > img {
      max-width: 400px;
      margin-bottom: 28px;
    }
    &__details {
      & > h5 {
        font-size: 19.5px;
      }

      & > p {
        font-size: 10.5px;
      }
      &__list {
        margin-top: 6.5px;
        list-style: none;

        & > li {
          font-size: 10.5px;
          margin-bottom: 13.5px;

          &:last-child {
            margin-bottom: 0;
          }

          & > svg {
            margin-right: 9px;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    &__details {
      max-width: 408px;

      & > h5 {
        font-size: 30px;
        max-width: 307px;
      }
      & > p {
        font-size: 16px;
        margin-top: 16px;
      }
      &__list {
        margin-top: 26px;

        & > li {
          margin-bottom: 21px;

          &:last-child {
            margin-bottom: 0;
          }

          & > svg {
            margin-right: 14px;
          }
        }
      }
    }
  }
}
